@model SetorPagamento.Models.Pagamento

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Pagamento</h4>
    <hr />
 
    <div class="form-group">
        @Html.LabelFor(model => model.PedidoId, "PedidoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PedidoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PedidoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="button" value="Dinheiro" onclick="location.href='@Url.Action("Create", "PagamentoDinheiros")'" />
    <input type="button" value="Cartao Debito" onclick="location.href='@Url.Action("Create", "PagamentoCartaoDebitos")'" />
    <input type="button" value="Cartão Credito" onclick="location.href='@Url.Action("Create", "PagamentoCartaoCreditos")'" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
